<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Open Market</title>
    <link rel="stylesheet" href="estilos.css">
    <script src="https://unpkg.com/vue@3.4.26/dist/vue.global.js"></script>
    <script src="notebook.js" defer></script>
</head>
<body>
<div id="pantalla">
    <div id="buscador" class="box">
        <form action="/buscador">
            <label>
                Buscar artículo
                <input type="text">
                <input type="submit" value="Buscar">
            </label>
        </form>
    </div>

    <div class="box" id="carro-de-compras">
        <h3>Carro de compras</h3>
        <ul>
            <li v-for="computadoraComprada in carroDeCompras">
                Computadora {{ computadoraComprada.ramAmount }}: ${{ computadoraComprada.price }}
            </li>
            <li><strong>Total: ${{ totalCompra }}</strong></li>
        </ul>
    </div>

    <div id="imagen" class="box">
        <img
                id="imagen-notebook"
                :src="urlImagen"
                alt="Notebook">
    </div>

    <div id="info-producto" class="box">
        <h1 id="titulo-notebook">{{title}}</h1>

        <p>Precio: ${{ precio }}</p>

        <div>
            <p id="descripcion-notebook">{{ description }}</p>
            <ul id="opciones-notebook">
                <li v-for="(tipoNotebook, indice) in notebooksTypes" :key="indice">Cantidad Ram:
                    {{tipoNotebook.ramAmount}} || Precio: ARS ${{tipoNotebook.price}}
                    <button @click="seleccionarTipoNotebook(indice)">SELECCIONAR</button>
                </li>
            </ul>
        </div>

        <a :href="factory_url" id="sitio-web-fabricante">Sitio Web Fabricante</a>

        <button @click="agregarACarro">Comprar</button>

        <div>
            <img v-for="(imagen, indice) in imagenes" class="imagen-miniatura"
                 @mouseover="cambiarImagen(indice)"
                 :src="imagen" :alt="'Imagen computadora ' + indice">
        </div>
    </div>

    <div id="puntaje" class="box">
        <p v-for="feedback in feedbacks">{{feedback.comment}}. Puntaje: {{feedback.score}}/5</p>
    </div>

    <div id="ingreso-puntaje" class="box">
        <form action="/puntaje">
            <label>Puntaje</label>
            <label>
                <input type="radio" name="puntaje-ingresado"> 1
            </label>
            <label>
                <input type="radio" name="puntaje-ingresado"> 2
            </label>
            <label>
                <input type="radio" name="puntaje-ingresado"> 3
            </label>
            <label>
                <input type="radio" name="puntaje-ingresado"> 4
            </label>
            <label>
                <input type="radio" name="puntaje-ingresado"> 5
            </label>

            <input type="submit" value="Dar puntaje">
        </form>
    </div>
</div>
</body>
</html>
